.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
}

.modal-content {
    border-top: 6px solid #98d740;
    border-radius: 12px;
    background-color: antiquewhite;
    color: gray;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 50vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

.close-btn {
    width: 1.5em;
    height: 1.5em;
    border: none;
    font-size: x-large;
    color: white;
    background-color: #e2931d;
    border-radius: 8px;
    font-weight: bold;
}

.ok-btn {
    width: 3em;
    height: 1.5em;
    border: none;
    font-size: x-large;
    color: white;
    background-color: #98d740;
    border-radius: 8px;
    font-weight: bold;
    align-self: center;
}

.close-btn:hover, .ok-btn:hover {
    transform: scale(105%);
    cursor: pointer;
}

@media (max-width: 800px) {
    .modal {
        width: 100vw;
    }
}