.Game {
  display: flex;
  justify-content: stretch;
  width: 100%;
}

.GameSpace {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
} 

.coordinates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    background-color: white;
    margin: 2%;
    border-radius: 20px;
}

.next-btn {
  background-color: #98d740;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 12px;
  margin: 1%;
  padding: 8px 30px;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0, 0, black;
}

.next-btn:hover {
  transform: scale(1.05);
}

.next-btn:disabled {
  background-color: gray;
  cursor: default;
  transform: none;
}

.bingo-btn {
  background-color: #e2931d;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  border: none;
  border-radius: 12px;
  margin: 5%;
  padding: 0 10%;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0, 0, black;
}

.animate-pulse {
  animation-duration: .7s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.animate-pulse:hover {
  animation: none;
}

.bingo-btn:hover {
  transform: scale(1.03);
  animation: none;
}

.bingo-btn:active {
  transform: scale(.97);
  background-color: #b37313;
}

@keyframes pulse {
  from {
    transform: scale(100%)
  }
  
  to {
    transform: scale(105%)
  }
}

@media (max-width: 800px) {
  .Game {
    flex-direction: column-reverse;
  }

  .GameSpace {
    width: 100%;
  }

  .game-map {
    width: 100%;
  }
}