.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}