.navbar {
  display: flex;
  justify-content: space-between;
}

.region-navs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.nav-link {
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98d740;
  color: white;
  border-radius: 8px;
  min-width: 120px;
  text-decoration: none;
  font-weight: bold;
  transition: .1s;
}

.nav-link:hover {
  transform: scale(105%);
}

.nav-link:active {
  transform: scale(95%);
}

.nav-home-link {
  background-color: #e2931d;
}

.Nav--header {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 1%;
  color: black;
}

.Nav--header__link {
  cursor: pointer;
  text-decoration: none;
}

.Nav--header__bold {
  color: #e2931d;
  font-weight: 800;
  font-size: 1.5em;
}
