.navbar {
    display: flex;
    justify-content: space-between;
}

.region-navs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.nav-link {
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98d740;
  color: white;
  border-radius: 8px;
  min-width: 120px;
  text-decoration: none;
  font-weight: bold;
}

.active {
  cursor: default;
  text-decoration: underline wavy #e2931d;
}

.nav-home-link {
  background-color: #e2931d;
}

.Nav--header {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 1%;
}

.Nav--header__bold {
  color: #e2931d;
  font-weight: 800;
  font-size: 1.5em;
}
