.square {
    aspect-ratio: 1 / 1;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
    font-size: 1em;
    line-height: .85em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  
.false {
  background-color: white;
}

.true {
  background-color: #d3cece;
  transform: scale(90%);
}

.correct-true {
    background-color: #98d740;
    border: none;
}

.correct-false {
    background-color: rgb(209, 84, 84);
    border: none;
    color: white;
}

.flag-image {
  max-width: 80%;
}

@media (max-width: 1200px) {
  .square {
    font-size: .6em;
  }
}