.square {
    aspect-ratio: 1 / 1;
    margin: 2%;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
  }
  
.false {
  background-color: white;
}

.true {
  background-color: #d3cece;
  transform: scale(90%);
}

.correct-true {
    background-color: #98d740;
    border: none;
}

.correct-false {
    background-color: rgb(209, 84, 84);
    border: none;
    color: white;
}